<!DOCTYPE html>
<div class="gallery"></div>
{% load static %} <!-- New line -->

<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="shortcut icon" type="image/png" href="img/favicon.png">

        <title>CSS Grids Gallery</title>
    </head>
<h1>Your Personalized Yoga Sequence!</h1>
<p> Here is a list of poses for a unique yoga class, based on the number of postures specified and the type of class.
    This will help to keep creativity rolling when sequencing for a class!
</p>
<body>
<div class="container">
<div class="gallery">
        {% for images, names in data %}
        <figure class="gallery__item gallery__item--{{forloop.counter}}" >
            <img src="{% static images %}" class="gallery__img" alt="Gallery image {{forloop.counter}}">
            <figcaption>Pose {{forloop.counter}} {{names}}</figcaption>
        </figure>
       <!-- <img src="{% static image %}" alt="Picture of Rango" /> New line -->
        {% endfor %}
    </div>
</div>
<h2>Notes about this app:</h2>
<p></p>
</body>

</html>

